---
layout: default
---

    <section id='container'>
        <section class='posts'>
            <header class='blog-header' role='banner'>
                <a class="logo" href="{{ site.baseurl }}/"></a>
                <h1 class='blog-title'>{{ page.title }}</h1>
                <h5 class='author'>by <a href="https://twitter.com/{{ site.twitter_username }}">Péter Király</a> &mdash; {{ page.date | date: "%Y-%m-%d." }}</h2>
                <hr />
            </header>

            <div class='post-content'>
                <article>
                    {{ content }}
                </article>
            </div>
        </section>
    </section>
